.font-serif {
    font-family: "Times New Roman", 游明朝, YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", HG明朝E, メイリオ, Meiryo, serif;
}

ul {
    list-style: none;
}

header .nav-item .fa,
header .nav-item .fas,
header .nav-item .far,
header .nav-item .fal,
header .nav-item .fab {
    display: block;
}

header {
    /* padding: 0; */
    width: 100%;
}

a {
    color: black;
}

a:hover {
    color: #9ea3a8;
}

header button {
    background-color: #cab471 !important;
    position: absolute;
    display: block;
    top: 20px;
    right: 20px;
}

header .nav-item {
    width: 120px;
}

header .nav-item .fas {
    /* color: #cab471; */
    color: #60b74d;
}

header .header-menu {
    height: 50px;
}

.page-title {
    color: white;
}

.jumbotron {
    color: blue;
    background-color: white;
    background: url('../img/img-home-mainvisual-sample.jpeg') center no-repeat;
    background-size: cover;
}

.title-logo {
    color: white;
    width: 100%;
}

.main-wrapper {
    background-color: #f5f5f5;
}

/* .menu-title {
    background-image: url('../img/bg-section-title.png');
} */

.card {
    background: none;
}



.blog-list .row {
    box-sizing: border-box;
}

.blog-list img {
    height: 215px;
    object-fit: cover;
}

.blog-list button {
    background: none;
}

.tag-list .badge a{
    color: white;
}

/* footer */
footer {
    color: white;
    background-color: #808080;
}
.news-list .column-1 {
    width: 30%;
}
.news-list .column-2 {
    width: 70%;
}
.copyright img {
    width: auto;
    max-height: 100px;
}


.left-article {
    border: 7px solid #eee;
}
.entry-content p {
    font-size: 14px;
}
.entry-content h1 {
    color: #be921a
}
.entry-content h2 {
    color: #be921a
}
.entry-content h3 {
    border-bottom: 1px dashed #666666;
    color: #666666;
}
.entry-content h4 {
    border-bottom: 1px dotted #666666;
}



.recommend-articles h4 {
    color: #be921a;
    border: 7px solid #e2b029;
}

.separator {
    border-bottom: 2px dashed black;
}

.recommend-articles img {
    height: 142px;
    width: 100%;
    object-fit: cover;
}





.prev-next .prev-btn {
    color: white;
    line-height: 18px;
    width: 80px;
    height: 34px;
    background-image: url("../img/sprite.png");
    background-position: -159px 0px;
}
.prev-next .next-btn {
    color: white;
    line-height: 18px;
    width: 81px;
    height: 34px;
    background-image: url("../img/sprite.png");
    background-position: 0px -115px;
}

.prev-next a {
    color: white !important;
}



/* /_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/
    サイドバーとウィジェットのulとliにCSSを特別に適用
/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/ */
.right-sidebar .card-header {
    color: white;
    background-image: url("../img/bg-home-utilities__news.jpg");
    border-bottom: 7px solid #5a886b;
}
.right-sidebar ul {
    /* list-group */
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    /* list-group-flush */
    border-right: 0;
    border-left: 0;
    border-radius: 0;
}
.right-sidebar ul:first-child {
    /* list-group-flush:first-child */
    border-top: 0;
  }
.right-sidebar ul:last-child {
    /* list-group-flush:last-child */
    border-bottom: 0;
  }
/* list-group-item rounded-0 */
.right-sidebar li {
    /* list-group-item */
    position: relative;
    display: block;
    padding: 0.75rem 1.25rem;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.125);
    /* rounded-0 */
    border-radius: 0 !important;
    /* その他 */
    font-size: 12px;
}
.widget_calendar caption {
    text-align: center;
  }
.widget_calendar table {
    width: 100%;
}
.widget_calendar table thead th, .widget_calendar table thead td {
    text-align: center;
}
.widget_calendar table tbody th, .widget_calendar table tbody td {
    text-align: center;
}

.right-sidebar .search-form {
    background-color: white;
}
.right-sidebar .search-form span {
    display: none;
}
.right-sidebar .search-form label {
    margin-bottom: 0px;
    padding: 10px;
    width: 70%;
}
.right-sidebar .search-form label input{
    width: 100%;
}


/*
_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/
    bread_crumb
_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/
*/
#bread-crumb ul {
    font-size: 12px;
    color: #666666;
    margin-bottom: 0;
    padding: 10px 0;
    list-style: none;
}
#bread-crumb ul li {
    display: inline-block;
}
#bread-crumb ul li a {
    margin-right: 0.5rem;
}
#bread-crumb ul li:not(:last-child):after {
    content: " > ";
    margin-right: 0.5rem;
}


/*
_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/
    pageination
_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/
*/
#page-nav {
    margin-bottom: 48px;
}
#page-nav ul {
    text-align: center;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
#page-nav ul li {
    margin: 0 2px;
    display: inline-block;
}
#page-nav ul li a {
    padding: 15px 15px;
    background-color: #eee;
}
#page-nav ul .current span {
    padding: 15px 15px;
    background-color: #cab471;
}
#page-nav ul .first span {
    display: none;
}
#page-nav ul .previous span {
    display: none;
}
#page-nav ul .last span {
    display: none;
}
#page-nav ul .next span {
    display: none;
}


/*
_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/
    list of taxonomy
_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/
*/
.taxonomy-list {
    padding: 0;
}
.taxonomy-list li {
    display: inline-block;
    padding: 5px 10px;
    border: 1px solid #9ea3a8;
}
.taxonomy-list li:not(:last-child) {
    margin-right: 10px;
}


/*
_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/
    list of staff
_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/
*/
.staff-list .staff-list-thumbnail {
    height: 140px;
    width: 140px;
    position: relative;
    cursor: pointer;
    bottom: -46px;
    z-index: 100;
    object-fit: cover;
}
.staff-list .staff-list-thumbnail-modal {
    height: 230px;
    width: 230px;
    z-index: 100;
    object-fit: cover;
}
.staff-list-item {
    position: relative;
    bottom: 20px;
}
.staff-list .staff-list-item .staff-detail {
    border: 2px solid #9ea3a8;
    border-radius: 0;
}
.staff-list .staff-list-item .staff-detail p {
    margin: 1px;
}
.modal-custom-field-detail {
    font-size: 12px;
}



/*
_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/
    SNS button
_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/
*/
ul.social-btn-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style-type: none;
    padding-left: 0;
    width: 100%;
}
ul.social-btn-list li {
    width: calc(100%/3);
}
ul.social-btn-list .sns-btn{
    display: block;
    padding: 10px 0;
    width: 100%;
    height: 100%;
}
ul.social-btn-list .sns-btn span{
    font-size: 18px;
    color: white;
}
.twitter-btn {
    background-color: #55acee;
}
.facebook-btn {
    background-color: #315096;
}
.pocket-btn {
    background-color: #ef3e50;
}
.feedly-btn {
    background-color: #6cc655;
}
.google-btn {
    background-color: #dd4b39;
}
.hatena-btn {
    background-color: #038fde;
}
.line-btn {
    background-color: #00b900;
}
.rss-btn {
    background-color: #ff8c00;
}
.sns-icon {
    margin-right: 7px;
}