.font-serif {
    font-family: "Times New Roman", 游明朝, YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", HG明朝E, メイリオ, Meiryo, serif;
}


ul {
    list-style: none;
}

header .nav-item .fa,
header .nav-item .fas,
header .nav-item .far,
header .nav-item .fal,
header .nav-item .fab {
    display: block;
}

header {
    /* padding: 0; */
    width: 100%;
}

a {
    color: black;
}

a:hover {
    color: #9ea3a8;
}

header button {
    background-color: #cab471 !important;
    position: absolute;
    display: block;
    top: 20px;
    right: 20px;
}

header .nav-item {
    width: 120px;
}

header .nav-item .fas {
    /* color: #cab471; */
    color: #60b74d;
}

header .header-menu {
    height: 50px;
}

.page-title {
    color: white;
}

.jumbotron {
    color: blue;
    background-color: white;
    background: url('../img/img-home-mainvisual-sample.jpeg') center no-repeat;
    background-size: cover;
}

.title-logo {
    color: white;
    width: 100%;
}





.main-wrapper {
    background: url('../img/bg-home-postlist.png');
}

.menu-title {
    background-image: url('../img/bg-section-title.png');
}

.card {
    background: none;
}



.blog-list .row {
    box-sizing: border-box;
}

.blog-list img {
    height: 215px;
    object-fit: cover;
}

.blog-list button {
    background: none;
}

.tag-list .badge a{
    color: white;
}

/* footer */
footer {
    background: url('../img/bg-copyright.png');
}
.news-list .column-1 {
    width: 30%;
}
.news-list .column-2 {
    width: 70%;
}
.copyright img {
    width: auto;
    max-height: 100px;
}


.left-article {
    border: 7px solid #eee;
}
.entry-content p {
    font-size: 14px;
}
.entry-content h1 {
    color: #be921a
}
.entry-content h2 {
    color: #be921a
}
.entry-content h3 {
    border-bottom: 1px dashed #666666;
    color: #666666;
}
.entry-content h4 {
    border-bottom: 1px dotted #666666;
}

.right-sidebar .card-header {
    color: white;
    background-image: url("../img/bg-home-utilities__news.jpg");
    border-bottom: 7px solid #5a886b;
}

.recommend-articles h4 {
    color: #be921a;
    border: 7px solid #e2b029;
}

.separator {
    border-bottom: 2px dashed black;
}

.recommend-articles img {
    height: 142px;
    width: 100%;
    object-fit: cover;
}





.prev-next .prev-btn {
    color: white;
    line-height: 18px;
    width: 80px;
    height: 34px;
    background-image: url("../img/sprite.png");
    background-position: -159px 0px;
}
.prev-next .next-btn {
    color: white;
    line-height: 18px;
    width: 81px;
    height: 34px;
    background-image: url("../img/sprite.png");
    background-position: 0px -115px;
}

.prev-next a {
    color: white !important;
}